<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <center><%= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fill %>
      <h1><%= @cocktail.name %></h1></center>
      <% @cocktail.doses.each do |dose| %>
      <center><p><%= dose.description %> of <%= dose.ingredient.name %></p></center>
      <% end %>
      <center><div><%= link_to 'Add Ingredients & Doses', new_cocktail_dose_path(@cocktail) %></div>
      <div><%= link_to 'Back', cocktails_path %></div></center>
    </div>
  </div>
</div>
